body{
    font-family: 'Roboto', sans-serif;
}
.background-hard{
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2c2f33;
    min-height: 100vh;
    color: #ffffff;
    position: absolute;
    z-index: 10;  
}

.background{
    background-image: url('../img/red.png');
    background-repeat:no-repeat;
    background-position:center center;
    min-height: 100vh;
    color: #ffffff;
    position: absolute;
    z-index: 10;
    width: 100%;  
}
.navbar{
    background-color: transparent!important;
    
}
.navbar .navbar-item{
    font-size: 18px!important;
    color: rgba(255, 255, 255, 0.7)!important;
}
.navbar .navbar-item:hover, .navbar .navbar-item:active, .navbar .navbar-item:focus{
    color: rgba(255, 255, 255, 1)!important;
    background-color: transparent!important;
}
.navbar .navbar-item .router-link-exact-active{
    color:#7289da!important;
}

.logo{
    margin-top: 3rem;
}
.informations{
    margin-top: 23%;
}

.informations h2{
    margin-bottom: 3rem;
}

.informations .title{
    color: #ffffff!important;
}

.informations .info{
    width: 60%;
    margin:auto;
}