.label{
    color: #ffffff!important;
}
.button.is-validate-discord{
    background-color:#7289da;
    border-color:#23272a;
    color:#fff;
}
.button.is-validate-discord:hover, .button.is-validate-discord:focus, .button.is-validate-discord:active{
    background-color:#687dca;
}