@import url('form.css');
@import url('notification.css');
html{
    background-color: #2c2f33;
}
body{
    font-family: 'Roboto', sans-serif;
}
.main {
    margin: 1em 1em 1em 1em;
}
.background-red{
    background-image: url('../img/red.png');
    background-repeat:no-repeat;
    background-position:center center;
    min-height: 80%;
    color: #ffffff;
    position: absolute;
    z-index: 10;
    width: 100%;  
    overflow: hidden;
}

.background{
    min-height: 100vh;
    color: #ffffff;
    position: absolute;
    z-index: 10;
    width: 100%;  
}

.card-command{
    margin-bottom: 0.5rem;
}
.is-black{
    background-color:#23272a;
    
}
.box{
    border-radius: 0!important;
}
.sticky{
    position: sticky;
    top: 10px;
}
.carte{
    padding: 1em 1em 1em 1em; 
    width: 100%; 
}
.card{
    background-color: #23272a!important;
}
.card-header{
    box-shadow: 0 .125em .0 rgba(144,137,218,.5);
}
.card-content{
    color: #ffffff;
    font-size: 15px;
}
.menu-label{
    color:#ffffff;
}
code{
    background-color: #2c2f33;
    color: #7289da;
    font-size: 1.2rem;
}

.box .title{
    display: block;
    color:#99aab5;
    border-bottom: solid 1px #7289da;
}
.navbar{
    background-color: transparent!important;
    
}
.navbar .navbar-item{
    font-size: 18px!important;
    color: rgba(255, 255, 255, 0.7)!important;
}
.navbar .navbar-item:hover, .navbar .navbar-item:active, .navbar .navbar-item:focus{
    color: rgba(255, 255, 255, 1)!important;
    background-color: transparent!important;
}
.navbar .navbar-item .router-link-exact-active{
    color:#7289da!important;
}
.navbar .navbar-item .navbar-link{
    background-color: transparent!important;
    color: rgba(255, 255, 255, 0.7) !important;
}
.navbar .navbar-item .navbar-link:hover{
    background-color: transparent!important;
    color: rgba(255, 255, 255, 1) !important;
}
.navbar-dropdown{
    background-color: #23272a!important;
    border-top: solid 2px #7289da;
}
.navbar-divider{
    background-color: #7289da;
}

.logo{
    margin-top: 3rem;
}
.informations{
    margin-top: 23%;
}

.informations h2{
    margin-bottom: 3rem;
}

.informations .title{
    color: #ffffff!important;
}

.informations .info{
    width: 60%;
    margin:auto;
}
.tag:not(body){
    border-radius: 0!important;
}
.tag:not(body).is-discord{
    background-color:#7289da;
    border-color:#23272a;
    color:#fff;
}
.menu-list a{
    color: #ffffff;
}
.menu-list a:hover{
    background-color: #7289da;
    color: #ffffff;
}
.menu-list .is-active{
    background-color: #7289da!important;
}
.progress.is-primary:indeterminate {
    background-image: linear-gradient(to right,#7289da 30%,#ededed 30%);

}
.content figure{
    margin: 0!important;
}
.is-grey{
    color:#99aab5 ;
}
.is-white{
    color: #ffffff;
}
.is-gold{
    color: #FFD700!important;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.info li{
    color: #ffffff;
}
.table{
    background-color: transparent!important;
    color: #fff;
    font-size: 1rem;
}
.table td{
    border: none!important;
}
.tabs li a{
    color: rgba(255, 255, 255, 0.7);
}
.tabs li a:hover{
    color: rgba(255, 255, 255, 1);
    border-bottom-color: #fff!important;
}
.tabs li.is-active a{
    color: #7289da!important;
    border-bottom-color: #7289da!important;
}
.is-border-bottom{
    display: block;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
}
.box strong{
    color: #7289da;
}
.box {
    color:white;
}